
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="start">
      <img class="logo" alt="Silhouette of mountains" src="../../assets/icon/litoicon.png" />
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" id="main-content">
  <ion-text><h1>¿Qué quieres hacer hoy?</h1></ion-text>
  <div class="quote_container">
    <ion-text color="white"><h2>Cotizar una póliza</h2></ion-text>
  </div>
  
  <ion-text><h3>Aseguradoras más populares</h3></ion-text>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-thumbnail slot="center">
              <img class="insurance-img" alt="Silhouette of mountains" src="../../assets/icon/litoicon.png" />
            </ion-thumbnail>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Repite las columnas aquí -->

      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-thumbnail slot="center">
              <img class="insurance-img" alt="Silhouette of mountains" src="../../assets/icon/litoicon.png" />
            </ion-thumbnail>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-thumbnail slot="center">
              <img class="insurance-img" alt="Silhouette of mountains" src="../../assets/icon/litoicon.png" />
            </ion-thumbnail>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-thumbnail slot="center">
              <img class="insurance-img" alt="Silhouette of mountains" src="../../assets/icon/litoicon.png" />
            </ion-thumbnail>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-thumbnail slot="center">
              <img class="insurance-img" alt="Silhouette of mountains" src="../../assets/icon/litoicon.png" />
            </ion-thumbnail>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-thumbnail slot="center">
              <img class="insurance-img" alt="Silhouette of mountains" src="../../assets/icon/litoicon.png" />
            </ion-thumbnail>
          </ion-card-content>
        </ion-card>
      </ion-col>

      
    </ion-row>
  </ion-grid>
  <ion-text><h6>Ver más aseguradoras <span> ></span></h6></ion-text>
<div class="banner-container">
  <div class="background-image">
    <div class="curtain">
      <div class="banner-text-content">
        <ion-text><h1 class="banner-text">Renueva hoy tu poliza con hasta</h1></ion-text>
        <ion-text><h1 class="banner-text">20% OFF</h1></ion-text>
      </div>
    </div>
  </div>
</div>
<div class="buttons-container">
  <ion-button>Inicia sesion aqui</ion-button>
  <ion-button>Registrate aqui</ion-button>
</div>
</ion-content>
